/* CSS Document */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background-color:rgba(3,111,197,0.80);
}
.content{
	height: 100vh;
	padding-top: 80px;
}
.title{
	text-align: center;
	color: #fff;
	font-family: 'Rubik', sans-serif;
	font-size: 60px;
}
.piano{
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	width: 100vw;
	margin: 0;
	padding: 0;
}
.board{
	border-top: 10px solid #38446D;
	display: flex;
	position: relative;
}
.Wkey{
	position: relative;
	height: 300px;
	width: 80px;
	margin-right: 10px;
	background-color: #FFFFFF;
	cursor: pointer;
	border: 1px solid #828282;
	border-radius:0 0 5px 5px;
	box-shadow: 5px 5px 5px 2px #5F5F5F;
	transition: all .2s ease;
}
.Wkey:active, .active{
	box-shadow: 5px 0 5px  1px #5F5F5F;
}
.Wkey:hover, .active{
	background-color:#C6C6C6;
}
.Bkey{
	position: absolute;
	height: 180px;
	width: 50px;
	top: 0px;
	z-index: 1;
	cursor: pointer;
	border-radius:0 0 8px 8px;
	background:linear-gradient(#303030,#3B3B3B);
	box-shadow: 2px 2px 8px 1px #5F5F5F;
	transition: all 2s ;
}
.Bkey:hover, .activeb{
	background:linear-gradient(#000,#000);
}
.Bkey:active, .activeb{
	background:linear-gradient(#000,#000);
	box-shadow: 2px 0 8px 1px #5F5F5F;
}
.name{
	position: absolute;
	bottom: 10px;
	left: 25px;
	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:500;
	color: #9D9D9D
}
#Db4{
	left: 60px;
}

#Eb4{
	left: 150px;
}
#Gb4{
	left: 330px;
}
#Ab4{
	left: 420px;
}
#Bb4{
	left: 510px;
}
#Db5{
	left: 690px;
}
#Eb5{
	left: 780px;
}
.footer{
	position: fixed;
    width: 100vw;
    bottom: 0;
    text-align: center;
	line-height: 2;
	background-color: rgba(3,111,197,1);
	color: #fff;
	font-family: 'Rubik', sans-serif;
}
a:link, a:visited{
	color: #fff;
	text-decoration: none;
}
a:hover{
	color:#303030;
}
.overlay{
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: red;
	z-index: -1;
	display: none;
}
@media (max-width: 768px) {	
	.board{	
		transform: scale(0.7);
	}
	.title{
		font-size: 50px;
	}
}
@media (max-width: 426px) {
	.content{
		padding-top: 0;
	}
	.board{
		transform: rotate(90deg) scale(.6,1);
		top: 120px;
	}
	.title{
		font-size: 30px;
	}
}